<%- include('partials/header') %>
<link rel="stylesheet" href="/css/AddStudent.css">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="/addStudent">Add Student <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/studentsList">Student List</a>
        <a class="nav-item nav-link" href="/backup">Back up</a>
        <a class="nav-item nav-link" href="/totalPrice">Fees/Expense/Balance</a>
        <a class="nav-item nav-link" href="/textArea">Notes</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
      </div>
    </div>
  </nav>

    <div class="Search-Box form-group">
        <input type="text" id="SearchBox" placeholder="Search by Student Name or Number" class="form-control" oninput="Search()">
    </div>

    <div class="main">
        <table class="table table-striped">
            <thead class="thead-dark">
                    <tr>
                        <th>S.NO.</th>
                        <th>Name</th>
                        <th>Father's Name</th>
                        <th>Phone Number</th>
                        <th>Date of Join</th>
                        <th>End Date</th>
                        <th>Restore Student</th>
                        <th>Delete Entry</th>
                    </tr>
            </thead>

            <tbody>           
                <%for(let i=0;i<students.length;i++){ %>
                    <tr>
                    <td><strong><%= students[i].StudentNumber %></strong></td>
                    <td><strong><%= students[i].Name %></strong></td>
                    <td><strong><%= students[i].FatherName %></strong></td>
                    <td><strong><%= students[i].PhoneNumber %></strong></td>
                    <td><strong><%= students[i].DOJ %></strong></td>
                    <td><strong><%= students[i].EndingDate %></strong></td>
                    <td><strong><a href="/restore/<%= students[i]._id %>">Restore</a></strong></td>
                     <td><strong><a href="/fulldelete/<%= students[i]._id %>"  onclick="return confirm('Are you sure?')">Delete</a></strong></td>
                    </tr>
                <%}%>
            </tbody>
        </table>

        <p><strong>Total Students : <%= students.length %></strong></p>
    </div>

    <script src="javascripts/filter.js"></script>
<%- include('partials/footer') %>