<%- include('partials/header') %>
<link rel="stylesheet" href="/css/AddStudent.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <h1 id="Logo">Personal Library</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active ">
              <a href="/addStudent">Add Student <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active ">
              <a href="/totalPrice">Total Price <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active ">
                <a href="/backup">BackUp <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a href="/studentsList">Students list</a>
            </li>
            <li class="nav-item">
              <form action="/logout" method="GET"> <button class="btn btn-light">LogOut</button> </form>
            </li>
          </ul>
        </div>
      </nav>

    <div class="Search-Box form-group">
        <input type="text" id="SearchBox" placeholder="Search by Student Name" class="form-control" oninput="Search()">
    </div>

    <div class="main">
        <table class="table table-striped">
            <thead class="thead-dark">
                    <tr>
                        <th>S.NO.</th>
                        <th>Name</th>
                        <th>Father's Name</th>
                        <th>Phone Number</th>
                        <th>Date of Join</th>
                        <th>End Date</th>
                        <th>Restore Student</th>
                        <th>Delete Entry</th>
                    </tr>
            </thead>

            <tbody>           
                <%for(let i=0;i<students.length;i++){ %>
                    <tr>
                    <td><%= students[i].StudentNumber %></td>
                    <td><%= students[i].Name %></td>
                    <td><%= students[i].FatherName %></td>
                    <td><%= students[i].PhoneNumber %></td>
                    <td><%= students[i].DOJ %></td>
                    <td><%= students[i].EndingDate %></td>
                    <td><a href="/restore/<%= students[i]._id %>">Restore</a></td>
                     <td><a href="/fulldelete/<%= students[i]._id %>"  onclick="return confirm('Are you sure?')">Delete</a></td>
                    </tr>
                <%}%>
            </tbody>
        </table>
    </div>

    <script src="javascripts/filter.js"></script>
<%- include('partials/footer') %>