<%- include('partials/header') %>
<link rel="stylesheet" href="/css/TotalPrice.css">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="/addStudent">Add Student <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/studentsList">Student List</a>
        <a class="nav-item nav-link" href="/backup">Back up</a>
        <a class="nav-item nav-link" href="/totalPrice">Fees/Expense/Balance</a>
        <a class="nav-item nav-link" href="/textArea">Notes</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
      </div>
    </div>
  </nav>

    <form action="/expense" method="POST" onsubmit="return ValidateMyForm()">
        <input type="text" name="ExpenseDate" id="ExpenseDate"  onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" placeholder="Date of Expense">
        <input type="text" name="ExpenseName" id="ExpenseName" class="form-control" placeholder="Name of Expense">
        <input type="number" name="ExpensePrice" id="ExpensePrice" class="form-control" placeholder="Price of Expense">
        <div class="Facility">
          <div id="ExpenseBorder">
            <strong>Payment Mode* :</strong> 
            <input type="radio" name="PaymentMode" value="Online">  Online
            <input type="radio" name="PaymentMode" value="Offline">  Offline
          </div>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>

    <hr>
    <div class="main">
        <table class="table table-striped">
            <thead class="thead-dark">
                    <tr>
                        <th>S.NO.</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Price</th>
                        <th>Payment Mode</th>
                        <th>Delete</th>
                    </tr>
            </thead>

            <tbody>         
              
              <%for(let i=0;i<ex.length;i++){ %>
                <tr>
                <td><%= i+1 %></td>
                <td><%= ex[i].ExpenseName %></td>
                <td><%= ex[i].ExpenseDate %></td>
                <td><%= ex[i].ExpensePrice %></td>
                <td><%= ex[i].PaymentMode %></td>
                <td><a href="/deleteExp/<%= ex[i]._id %>"  onclick="return confirm('Are you sure?')">Delete</a></td>
                </tr>
              <%}%>
            </tbody>
        </table>

        <Strong><p id="NumberOnline"></p></Strong>
        
        <Strong><h3>
          <% var Total = 0 %>
          <%for(let i=0;i<ex.length;i++){ %>
            <% Total = Total + ex[i].ExpensePrice %> 
          <%}%>

          Total Expenditure : <%= Total %>
        </h3></Strong>

     </div>

    <script src="javascripts/Expense.js"></script>
<%- include('partials/footer') %>