<%- include('partials/header') %>
<link rel="stylesheet" href="/css/FullDetails.css">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="/addStudent">Add Student <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/studentsList">Student List</a>
        <a class="nav-item nav-link" href="/backup">Back up</a>
        <a class="nav-item nav-link" href="/totalPrice">Fees/Expense/Balance</a>
        <a class="nav-item nav-link" href="/textArea">Notes</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
      </div>
    </div>
  </nav>

    <h1 id="Name"><%= student.Name %></h1>

    <ul class="alignMe">
        <li><b>Student Number </b> <%= student.StudentNumber %></li>
        <hr>
        <li><b>Aadhar Number </b> <%= student.AadharNumber %></li>
        <hr>
        <li><b>Father's Name</b> <%= student.FatherName %></li>
        <hr>
        <li><b>Phone Number </b> <%= student.PhoneNumber %></li>
        <hr>
        <li><b>Alternate Phone Number </b> <%= student.AlternatePhoneNumber %></li>
        <hr>
        <li><b>Date of Birth</b> <%= student.DOB %></li>
        <hr>
        <li><b>Gender</b> <%= student.Gender %></li>
        <hr>
        <li><b>Locker</b> <%= student.Locker %></li>
        <hr>
        <li><b>Shift</b> <%= student.Shift %></li>
        <hr>
        <li><b>Shift Timing</b> <%= student.ShiftTimingFrom %> - <%= student.ShiftTimingTo %></li>
        <hr>
        <li><b>Reservation</b> <%= student.Reservation %></li>
        <hr>
        <li><b>Reservation Seat Number</b> <%= student.ReservationSeatNumber %></li>
        <hr>
        <li><b>Date of Join</b> <%= student.DOJ %></li>
        <hr>
        <li><b>End of Session</b><%= student.EndingDate %></li>
        <hr>
        <li><b>Fees</b><%= student.Fees %></li>
        <hr>
        <li><b>Advance</b><%= student.Advance %></li>
        <hr>
        <li><b>Balance</b><%= student.Balance %></li>
        <hr>
        <li><b>Payment Mode</b><%= student.PaymentMode %></li>
        <hr>
        <li><b>Address</b> <%= student.HouseNo %>, <%= student.Colony %>, <%= student.Landmark %> , <%= student.District %></li>
    </ul>

<%- include('partials/footer') %>