<%- include('partials/header') %>
<link rel="stylesheet" href="/css/AddStudent.css">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link " href="/addStudent">Add Student <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link " href="/studentsList">Student List</a>
        <a class="nav-item nav-link " href="/backup">Back up</a>
        <a class="nav-item nav-link " href="/totalPrice">Fees/Expense/Balance</a>
        <a class="nav-item nav-link " href="/textArea">Notes</a>
        <a class="nav-item nav-link " href="/logout">Logout</a>
      </div>
    </div>
  </nav>

      <div class="filterMenu">
        <div class="Search-Box form-group">
            <input type="text" id="SearchBox" placeholder="Search by Student Name or Number" class="form-control" oninput="Search()">
        </div>

        <div class="sidenav">
            <p> <strong> Filter Students</strong></p>

            <select class="custom-select" id="SortBySessionType" name="SortBySessionType" onchange="SortTable()">
                <option value="All" selected="selected">All</option>
                <option value="SessionEnd">Session End</option>
                <option value="SessionNearlyEnd">Session Nearly End</option>
                <option value="SessionNotEnd">Session Not End</option>
                <option value="Reserved">Reserved</option>
                <option value="Morning">Morning</option>
                <option value="Evening">Evening</option>
                <option value="FullTime">Full Time</option>
                <option value="Night">Night</option>
                <option value="24Hour">24 Hour</option>
                <option value="Other">Other</option>
            </select>
            <div class="OtherTimeFilter FilterEndSession" id="OtherTimeFilter">
              <input class="from-control" type="Time" id="OtherTimeFilterFrom">
              to
              <input class="from-control" type="Time" id="OtherTimeFilterTo">
              
              <Button class="btn btn-dark" onclick="CheckTimeFromOther()">Filter</Button>
            </div>
        </div>
    </div>

    <div class="main">
        <table class="table table-striped">
            <thead class="thead-dark">
                    <tr>
                        <th>S.NO.</th>
                        <th>Name</th>
                        <th>Father's Name</th>
                        <th>Phone Number</th>
                        <th>Timing From</th>
                        <th>Timing To</th>
                        <th>Date of Join</th>
                        <th>End Date</th>
                        <th>Full Details</th>
                        <th>Renew Fees</th>
                        <th>Edit Details</th>
                        <th>Delete Entry</th>
                    </tr>
            </thead>

            <tbody>           
                <%for(let i=0;i<students.length;i++){ %>
                  <%if (students[i].Reservation == "Yes"){%>
                    <tr id="ReservedSeat">
                  <%}else{%>
                    <tr id="NonReservedSeat">
                  <%}%>
                    <td><strong><%= students[i].StudentNumber %></strong></td>
                    <td><strong><%= students[i].Name %></strong></td>
                    <td><strong><%= students[i].FatherName %></strong></td>
                    <td><strong><%= students[i].PhoneNumber %></strong></td>
                    <td><strong><%= students[i].ShiftTimingFrom %></strong></td>
                    <td><strong><%= students[i].ShiftTimingTo %></strong></td>
                    <td><strong><%= students[i].DOJ %></strong></td>
                    <td><strong><%= students[i].EndingDate %></strong></td>
                    <td><strong><a href="/fullDetails/<%= students[i]._id %>">Details</a></strong></td>
                    <td><strong><a href="/feesRenew/<%= students[i]._id %>" id="RenewFees<%=i%>" >Renew</a></strong></td>
                    <td><strong><a href="/update/<%= students[i]._id %>">Edit</a></strong></td>
                    <td><strong><a href="/delete/<%= students[i]._id %>"  onclick="return confirm('Are you sure?')">Delete</a></strong></td>
                    </tr>
                <%}%>
            </tbody>
        </table>
    </div>

    <div>
      <h3 id="StudentNumber"></h3>
    </div>

    <script src="javascripts/filter.js"></script>
<%- include('partials/footer') %>