<%- include('partials/header') %>
<link rel="stylesheet" href="/css/TotalPrice.css">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="/addStudent">Add Student <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/studentsList">Student List</a>
        <a class="nav-item nav-link" href="/backup">Back up</a>
        <a class="nav-item nav-link" href="/totalPrice">Fees/Expense/Balance</a>
        <a class="nav-item nav-link" href="/textArea">Notes</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
      </div>
    </div>
  </nav>

  <div class="totalpricefilters">
    
    <div class="form-group Timefilter">
      <h4>Filter According to time</h4>
      <div class="First">
        <input type="date" id="date1" class="form-control" name="FD">
        <p>to</p>
        <input type="date" id="date2" class="form-control" name="SD">
        <button class="btn-dark FindBut" onclick="CalculateTotalAccToDate()">Find</button>
        <button class="btn-dark" onclick="window.location.reload()">Reset</button>
      </div>
    </div> 

    <div class="expenditureAddshow">
      <button class="btn btn-dark showExp" onclick="window.location.href = '/expense';">Add/Show Expenditure</button>
      <button class="btn btn-dark showExp" onclick="SeprateBalance()">Show Balance of students</button>
    </div>
  </div>

    <div class="main">
        <table class="table table-striped">
            <thead class="thead-dark">
                    <tr>
                        <th>S.NO.</th>
                        <th>Name</th>
                        <th>Date of Join</th>
                        <th>Fees</th>
                        <th>Advance</th>
                        <th>Balance</th>
                        <th>Expense</th>
                        <th>Payment Mode</th>
                        <th>Delete Entry</th>
                    </tr>
            </thead>

            <tbody>           
                <%for(let i=0;i<s.length;i++){ %>
                    <tr>
                    <td><strong><%= s[i].StudentNumber %></strong></td>
                    <td><strong><%= s[i].Name %></strong></td>
                    <td><strong><%= s[i].DOJ %></strong></td>
                    <td><strong><%= s[i].Fees %></strong></td>
                    <td><strong><%= s[i].Advance %></strong></td>
                    <td><strong><%= s[i].Balance %></strong></td>
                    <td></td>
                    <td><strong><%= s[i].PaymentMode %></strong></td>
                    <td><strong><a href="/deletePrice/<%= s[i]._id %>" id="deletePrice<%=i%>"  onclick="return confirm('Are you sure?')">Delete</a></strong></td>
                    </tr>
                <%}%>
                <%for(let i=0;i<ex.length;i++){ %>
                  <tr>
                  <td></td>
                  <td><strong><%= ex[i].ExpenseName %></strong></td>
                  <td><strong><%= ex[i].ExpenseDate %></strong></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><strong><%= ex[i].ExpensePrice %></strong></td>
                  <td></td>
                  <td></td>
                  </tr>
              <%}%>
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="3"><h4><Strong>Total</Strong></h4></td>
                    <td><h4><Strong><%=TotalFees%></Strong></h4></td>
                    <td><h4><Strong><%=TotalAdvance%></Strong></h4></td>
                    <td><h4><Strong><%=TotalBalance%></Strong></h4></td>
                    <td><h4><Strong><%=Totalex%></Strong></h4></td>
                </tr>
            </tfoot>
        </table>

        <Strong><p id="NumberOnline"></p></Strong>

        <div class="FilterEndSession" id="subtract-expense">
          <button class="btn btn-dark" onclick="Subtract()">Subtract Expense</button>
          <button class="btn btn-dark" onclick="window.location.reload()">Reset</button>
        </div>
    </div>


<script src="javascripts/totalPrice.js"></script>
<%- include('partials/footer') %>